.sb-form {
    background: #dae9f4;
    border-radius: 5px;
    padding: 15px 0 0; 
    overflow: hidden; 
}

.sb-form .btn {
    margin-bottom: 15px;
}

.contact-form .form-control {
    margin-bottom: 20px;
}

.contact-form textarea.form-control {
    height: 178px;
}
