/*---------------------------------------------------------------------*/
/*  0.0. Google Fonts
/*---------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Bitter:400,700,400italic");
@import url("https://fonts.googleapis.com/css?family=Lato:300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

#header {
	position: absolute;
  padding-top: 15px;
	width: 100%;
	z-index: $zindex-navbar;
}

body {
    background-size: cover;
}

#preloader {
    background: $body-bg;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status, .status-mes {
    background-image: url(../../images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

.status-mes h4 {
    color: $gray-lighter;
    margin-top: 30px;
}

h4 {
    font-size: 16px;
    margin: 5px 0 10px;
}

/*---------------------------------------------------------------------*/
/*  2.4. PROGRESSTRACK
/*---------------------------------------------------------------------*/
.pt-section.max-width {
  width: 100%;
}

.pt-section.max-height {
  min-height: 100vh;
}

#ptsection-one {
  padding-top: 20%;
  text-align: center;
}

#ptsection-one.no-padding {
  padding-top: 0;
  text-align: center;
}

@media screen and (max-width: 420px) {
  #ptsection-one {
    padding-top: 40%;
  }
}

#ptsection-one .col-md-8 {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 420px) {
  #ptsection-one msg {
    font-size: 45px;
  }
}

#ptsection-one h3 {
  color: #a1a1a1;
  font-style: italic;
}

#ptsection-one icons {
  position: absolute;
  bottom: 40px;
  width: 100%;
  left: 0;
}

#ptsection-one icons img {
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 420px) {
  #ptsection-one icons img {
    max-width: 48px;
  }
}

#backstretch-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(0deg, rgba(23, 23, 23, 1) 0, rgba(23, 23, 23, 0.02) 70%, rgba(23, 23, 23, 0) 100%);
}

#ptsection-one .fadeInUp {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@media screen and (max-width: 420px) {
  #ptsection-one .fadeInUp {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }
}

/*********************************************
        -   SETTINGS FOR FONTS -
**********************************************/
.tp-caption.large_bold_white, .large_bold_white {
    background-color: transparent;
    border-color: #ffd658;
    border-style: none;
    border-width: 0;
    color: #fff;
    font-family: "Raleway";
    font-size: 58px;
    font-weight: 800;
    line-height: 60px;
    text-decoration: none;
}
.tp-caption.medium_light_white, .medium_light_white {
    background-color: transparent;
    border-color: #ffd658;
    border-style: none;
    border-width: 0;
    color: #fff;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    padding: 0;
    text-decoration: none;
}