.progress-tracker.hide {
  width: 0px;
}
.progress-tracker.hide ul li .pt-description,
.progress-tracker.hide.active ul li .pt-description,
.progress-tracker.hide.constant ul li.active .pt-description {
  display: none;
}
.progress-tracker.constant ul li.active .pt-description {
  display: block;
}
.slider .indicators .indicator-item.active {
	background-color: crimson !important;
}
#back-top a:hover {
	background: crimson url(../images/back-top.png) no-repeat 50% 50%;
}